<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notexample.coltonquan.tappadabba">

    <!--<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/tappadabba_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.notexample.coltonquan.tappadabba.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.notexample.coltonquan.tappadabba.PlayScreen" />
        <activity android:name="com.notexample.coltonquan.tappadabba.EndScreen" />
        <activity android:name="com.notexample.coltonquan.tappadabba.AboutScreen"></activity>
    </application>

</manifest>